@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#__next {
  padding: 0;
  margin: 0;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Inter";
}

input {
  border: none;
  outline: none;
}

input:focus {
  background-color: white;
  outline-style: solid;
  outline-width: 2px;
  outline-color: #e0e0e0;
}
